<div class="row my-3">
  <div class="col-md-6">
    <h1>List of Products</h1>
  </div>
  <div class="col-md-6 text-right">
    
    <span class="badge mr-4 badge-success upperSome">{{ somme | currency }}</span>

    <a routerLink="/products/add" class="btn btn-success btn-sm">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    
    <div class="row">
      <div class="col-md-2">
        <button (click)="list = true" class="btn btn-light"><i class="fa fa-list"></i></button>
        <button (click)="list = false" class="btn btn-light"><i class="fa fa-th"></i></button>
      </div>
      <div class="col-md-10">
        <input (keyup.enter)="searchProducts()" [(ngModel)]="search" type="text" placeholder="Search..." class="my-2 form-control">
      </div>
    </div>

   <div *ngIf="list then forList else forGrid"></div>

  <ng-template #forList>
      <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Stock</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of resultProducts">
              <td scope="row">
    
                <i (click)="toggleActiveProduct(product)" class="fa fa-power-off" [class.active-product]="!product.active"></i>
    
                {{ product.title | uppercase }}
                <em>{{ product?.description }}</em>
              </td>
              <td>{{ product.price | currency }}</td>
              <td>
                  <span class="badge" [ngClass]="{
                    'badge-success': product.stock > 5,
                    'badge-warning': product.stock <= 5 && product.stock > 0,
                    'badge-danger': product.stock == 0
                  }">
                    {{ product.stock | number }}
                  </span> 
    
              </td>
              <td class="text-right">
                <button *ngIf="product.stock" class="btn btn-info btn-sm mr-1" (click)="buyProduct(product.id, product.stock)">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <a [routerLink]="['/products/edit', product.id]" class="btn btn-warning btn-sm mr-1"><i class="fa fa-pencil"></i></a>
                <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
           
          </tbody>
        </table>
    
  </ng-template>
      
 <ng-template #forGrid>
   <div  class="row">
      <div class="col-md-4" *ngFor="let product of resultProducts">
        <div class="card">
          <img class="card-img-top" src="holder.js/100x180/" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ product.title }}</h4>
            <div class="card-text">
                
                <ul class="list-group">
                  <li class="list-group-item active">
                    <em>{{ product.description }}</em>
                  </li>
                  <li class="list-group-item">
                    <h5>{{ product.price | currency }}</h5>
                  </li>
                  <li class="list-group-item">
                      <span class="badge" [ngClass]="{
                        'badge-success': product.stock > 5,
                        'badge-warning': product.stock <= 5 && product.stock > 0,
                        'badge-danger': product.stock == 0
                      }">
                        {{ product.stock | number }}
                      </span> 
                    </li>
                </ul>

                <div class="my-3 text-center">
                   <button *ngIf="product.stock" class="btn btn-info btn-sm mr-1" (click)="buyProduct(product.id, product.stock)">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <a [routerLink]="['/products/edit', product.id]" class="btn btn-warning btn-sm mr-1"><i class="fa fa-pencil"></i></a>
                  <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
      
                </div>
               
            </div>
          </div>
        </div>
      </div>
    </div>
 </ng-template>
 

  </div>
</div>