<div class="row my-3">
  <div class="col-md-6">
    <h1>List of Products</h1>
  </div>
  <div class="col-md-6 text-right">
    <a routerLink="/products/add" class="btn btn-success btn-sm">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td scope="row">
            <h4>{{ product.title | uppercase }}</h4>
            <em>{{ product?.description }}</em>
          </td>
          <td>{{ product.price | currency }}</td>
          <td>
              <span class="badge" [ngClass]="{
                'badge-success': product.stock > 5,
                'badge-warning': product.stock <= 5 && product.stock > 0,
                'badge-danger': product.stock == 0
              }">
                {{ product.stock | number }}
              </span> 

          </td>
          <td class="text-right">
            <button *ngIf="product.stock" class="btn btn-info btn-sm mr-1" (click)="buyProduct(product.id, product.stock)">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <a [routerLink]="['/products/edit', product.id]" class="btn btn-warning btn-sm mr-1"><i class="fa fa-pencil"></i></a>
            <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
       
      </tbody>
    </table>

  </div>
</div>